html, body {
    margin: 0;
}
body {
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 0.9rem;
    background-color: #ffffff;
    color: #292d32;
    margin-left: 5%;
    margin-right: 5%;
}
header.top, main.contents, footer.bottom {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
header.top {
    background-color: #ffffff;
}
img.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 16px;
}
h1.site {
    padding-right: 32px;
    margin: 0;
}
section.brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
nav.menu {
    border-top: 1px solid #00285e;
    border-bottom: 1px solid #00285e;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
main.contents > :last-child {
    margin-bottom: 0px;
}
main.contents {
    padding: 24px 0;
}
main.contents > p, main.contents > ul > li {
    line-height: 1.6;
}
ul.box {
    margin: 0;
    padding: 0;
    list-style-type: unset;
}
li.box {
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 8px 16px;
    border: 1px solid #918f8e;
    background: #c0b7b5;
    background: linear-gradient(#c0b7b5, white);
}
footer.bottom {
    border-top: 1px solid #00285e;
    font-size: 0.8rem;
}
h1.page {
    margin: 0 0 24px 0;
}
a.menulink {
    color: #003e8f;
    text-decoration: none;
    margin: 8px 0;
    display: inline-block;
}
a.menulink:hover {
    color: #0054c2;
    text-decoration: underline;
}
*.textonly {
    display: none;
}
table {
    width: 100%;
}
@media only screen and (min-width: 1215px) {
    body {
        font-size: 1rem;
    }
    header.top, main.contents, footer.bottom {
        max-width: 1216px;
    }
    footer.bottom {
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 1535px) {
    header.top, main.contents, footer.bottom {
        max-width: 1536px;
    }
}
@media only screen and (max-width: 479px) {
    nav.menu {
        display: block;
    }
    a.menulink {
        margin-right: 32px;
    }
}
